#reserve-section button,
#reserve-section [class*="sn"] {
    background: #CE4750 !important;
    border-radius: 6px;
    color: #fff !important;
    margin: 0 8px 16px;
    padding: 10px 24px;
    border: none;
    text-decoration: none;
    display: inline-block;
}
#reserve-section a:focus,
#reserve-section button:focus {
    outline: none;
    box-shadow: none;
}
@media (max-width: 767px) {
    #reserve-section a,
    #reserve-section button,
    #reserve-section [class*="sn"] {
        display: block;
        margin: 0 auto 16px;
    }
}